@import "tailwindcss";

/**
 * アニメーション・キーフレーム設定
 */
@theme {
  --animate-rotate-x: rotate-x 2s ease-in-out infinite;
  --animate-wiggle: bg-fade 4s ease-out both;

  @keyframes bg-fade {
    0% {
      background-color: var(--color-orange-900);
    }
    75% {
      background-color: var(--color-orange-900);
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes rotate-x {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
}

/**
 * ベーススタイル
 */
@layer base {
  /* ボーダー色の基本設定 */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* ターゲット要素のアニメーション */
  *:target {
    @apply animate-wiggle;
  }

  /* リンクの基本スタイル */
  a {
    @apply break-all;
  }

  /* 目次スタイル */
  .toc .toc-list-item {
    counter-increment: count 1;
  }
  .toc .toc-list-item a {
    @apply relative flex items-start gap-x-1 w-full py-1 px-4 rounded-sm before:content-[counter(count)_"."];
  }
  @media (any-hover: hover) {
    .toc .toc-list-item a:hover {
      @apply after:content-["▶︎"] after:absolute after:left-0 after:top-1/2 after:-translate-y-1/2 after:font-semibold after:font-mono;
    }
  }
}

/**
 * ユーティリティ
 */
@layer utilities {
  :root {
    --neumorphism-shadow-color-01: #1b1b1b;
    --neumorphism-shadow-color-02: #313131;
    color-scheme: dark;
  }
}

/**
 * コンポーネント
 */
@layer component {
  /* ニューモーフィズム関連スタイル */
  .neumorphism-shadow {
    box-shadow:
      5px 5px 10px var(--neumorphism-shadow-color-01),
      -5px -5px 10px var(--neumorphism-shadow-color-02);
  }
  .neumorphism-border {
    box-shadow:
      inset 1px 1px 2px var(--neumorphism-shadow-color-01),
      inset -1px -1px 2px var(--neumorphism-shadow-color-02);
  }
  @media (any-hover: hover) {
    .neumorphism-shadow:hover {
      box-shadow:
        inset 5px 5px 10px var(--neumorphism-shadow-color-01),
        inset -5px -5px 10px var(--neumorphism-shadow-color-02);
    }
  }
}
